[submodule "linux-firmware"]
	path = linux-firmware
	url = https://github.com/endlessm/linux-firmware.git
[submodule "network-console"]
	path = network-console
	url = https://salsa.debian.org/IAmPaigeAT/network-console.git
[submodule "debian-cd"]
	path = debian-cd
	url = https://salsa.debian.org/arnaudr/debian-cd.git
